.contacts {

  width: 450px;

  margin: 0 auto;
    
  height: 402px;
    
  overflow-y: auto;

}



.search-field {

  width: 90%;

  padding: 10px;

  font-size: 16px;

}



.contacts-list {
    
  padding: 0;

  width: 95%;

}



.contact {

  display: flex;

  align-items: center;

  font-family: sans-serif;

  width: 95%;

  padding-top: 11px;

  border-bottom: 1px dotted grey;

}



.contact-image {

    border-radius: 50%;

    margin: 5px;

}



.contact-name {

  font-size: 20px;

  font-weight: bold;

}



.contact-number {

  font-size: 18px;

  color: grey;

}