body {
    font-family: 'BlissPro';
}

@font-face {
    font-family: "uremont";
    src: url("/static/fonts/uremont.woff") format("woff")
}

@font-face {
    font-family: "BlissPro";
    src: local("BlissPro");
    // src: url("static/fonts/BlissPro_gdi.eot");
    src: url("/static/fonts/BlissPro_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro_gdi.svg#BlissPro_gdi") format("svg");
    // src: url("static/fonts/BlissPro_gdi.otf") format("opentype")
}

@font-face {
    font-family: "BlissPro-Bold";
    src: local("BlissPro-Bold");
    // src: url("static/fonts/BlissPro-Bold_gdi.eot");
    src: url("/static/fonts/BlissPro-Bold_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro-Bold_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro-Bold_gdi.svg#BlissPro-Bold_gdi") format("svg");
    // src: url("static/fonts/BlissPro-Bold_gdi.otf") format("opentype")
}

@font-face {
    font-family: "BlissPro-Italic";
    src: local("BlissPro-Italic");
    // src: url("static/fonts/BlissPro-Italic_gdi.eot");
    src: url("/static/fonts/BlissPro-Italic_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro-Italic_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro-Italic_gdi.svg#BlissPro-Italic_gdi") format("svg");
    // src: url("static/fonts/BlissPro-Italic_gdi.otf") format("opentype")
}

@font-face {
    font-family: "BlissPro-Light";
    src: local("BlissPro-Light");
    // src: url("static/fonts/BlissPro-Light_gdi.eot");
    src: url("/static/fonts/BlissPro-Light_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro-Light_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro-Light_gdi.svg#BlissPro-Light_gdi") format("svg");
    // src: url("static/fonts/BlissPro-Light_gdi.otf") format("opentype")
}

@font-face {
    font-family: "BlissPro-LightItalic";
    src: local("BlissPro-LightItalic");
    // src: url("static/fonts/BlissPro-LightItalic_gdi.eot");
    src: url("/static/fonts/BlissPro-LightItalic_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro-LightItalic_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro-LightItalic_gdi.svg#BlissPro-LightItalic_gdi") format("svg");
    // src: url("static/fonts/BlissPro-LightItalic_gdi.otf") format("opentype")
}

@font-face {
    font-family: "BlissPro-Medium";
    src: local("BlissPro-Medium");
    // src: url("static/fonts/BlissPro-Medium_gdi.eot");
    src: url("/static/fonts/BlissPro-Medium_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro-Medium_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro-Medium_gdi.svg#BlissPro-Medium_gdi") format("svg");
    // src: url("static/fonts/BlissPro-Medium_gdi.otf") format("opentype")
}

@font-face {
    font-family: "BlissPro-MediumItalic";
    src: local("BlissPro-MediumItalic");
    // src: url("static/fonts/BlissPro-MediumItalic_gdi.eot");
    src: url("/static/fonts/BlissPro-MediumItalic_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro-MediumItalic_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro-MediumItalic_gdi.svg#BlissPro-MediumItalic_gdi") format("svg");
    // src: url("static/fonts/BlissPro-MediumItalic_gdi.otf") format("opentype")
}

@font-face {
    font-family: "BlissPro-Heavy";
    src: local("BlissPro-Heavy");
    // src: url("static/fonts/BlissPro-Heavy_gdi.eot");
    src: url("/static/fonts/BlissPro-Heavy_gdi.woff") format("woff");
    // src: url("static/fonts/BlissPro-Heavy_gdi.ttf") format("truetype");
    // src: url("static/fonts/BlissPro-Heavy_gdi.svg#BlissPro-Heavy_gdi") format("svg");
    // src: url("static/fonts/BlissPro-Heavy_gdi.otf") format("opentype")
}

.container {
    min-width: 1280px;
    max-width: 1280px;
    width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    z-index: 50;
    width: 100%;
    padding: 0 20px;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background: #fff;
}

.nav-tabs>li>a {
    position: relative;
    cursor: pointer;
    padding: 12px 25px;
    float: left;
    font-size: 1.12em;
    line-height: 2.2em;
    color: #4D4D4D;
}

.carcas {
    height: 850px;
    margin: 0 auto;
    margin-top: -10px;
    border: 1px solid #c0c0c0;
    border-top: none;
    margin-bottom: 5px;
}

.nav {
    background: #E6E6E6;
}

.left-column_tabs {
    float: left;
    width: 35%;
    margin: 10px;
    padding: 5px;
    height: 838.4px;
    border: 1px solid #ddd;
    border-bottom: none;
}

.tab-styling {
    margin: 7px;
    padding: 7px;
    border: 1px solid #ddd;
    background: #FFEED9;
}

.tab-styling:hover {
    border: 1px solid white;
    background-color: #181818;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    color: white;
}

.right-column_title {
    width: 62%;
    margin-left: 37.5%;
    margin-top: 0.8%;
    border: 1px solid black;
}

.tabTitle {
    text-align: center;
}

.chat-window_table {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid #c0c0c0;
}

.autoInfo,
.bidInfo {
    border-bottom: none;
    padding: 0px 5px 0px 5px;
    width: 50%;
}

.autoInfo-text,
.bidInfo-text {
    font-family: "BlissPro-Bold";
    font-size: 1.15em;
}

.autoInfo-text_title,
.bidInfo-text_title {
    color: #B3B3B3;
}

.chat-window {
    width: 62%;
    height: 515px;
    margin-left: 37.5%;
    overflow: auto;
    margin-top: -3px;
}

.message-block_example {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    width: 70%;
}

.input-calculator_form {
    margin-top: -50px;
    width: 300px;
    border: 1px solid black;
}

.calculator-body {
    width: 50%;
    margin-top: 250px;
}

.calcInput {
    width: 70px;
}

.chat-message_block {
    margin-top: -125px;
}

.calculator-and-chatTextarea {
    width: 62.5%;
    margin-left: 38%;
    margin-top: -20%;
}

.go {
    margin-left: 627px;
    margin-top: 10px;
    background: #40bcff;
    padding: 4px 25px 4px 25px;
    border: 1px solid #40bcff;
    border-radius: 3px;
    transition: .6s;
    -webkit-transition: .6s;
    font-family: 'BlissPro';
    color: white;
}

.go:hover {
    transition: .6s;
    -webkit-transition: .6s;
    color: white;
    background: black;
    border: 1px solid black;
}

.resultRow input {
    width: 100px;
}

.input-form {
    margin-top: 4px;
    margin-right: 30px;
    overflow: auto;
    resize: none;
    width: 300px;
    height: 120px;
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 8px 0 0 0;
    padding: 8px 0 8px 10px;
    float: right;
}

.input-form:focus {
    transition: .6s;
}

.inp {
    width: 150px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    outline: none;
    margin-right: 10px;
}

.sendMessage {
    margin-left: 160px;
    margin-top: 3px;
    padding: 5px 10px 5px 10px;
    border: 1px dotted black;
    background: transparent;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    transition: .7s;
}

.sendMessage:hover {
    background: black;
    color: white;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    transition: .7s;
}

.send-messages {
    border-radius: 3px;
    width: 370px !important;
    padding: 15px 10px 15px 10px;
    font-weight: bold;
    overflow-wrap: break-word;
    text-align: left;
    background: #fff1e3;
    float: right;
    color: #6E6E6E;
}

.entry-message {
    padding: 5px 10px 5px 10px;
    width: 350px !important;
    text-align: left;
    overflow-wrap: break-word;
    background: #E1F7FF;
}

.entry-message span {
    font-weight: bold;
    font-size: 16pt;
}

.date-style {
    font-weight: 200;
}