body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carcas {
    width: 90%;
    height: 750px;
    margin: 0 auto;
    border: 1px solid black;
}

.left-column_tabs {
    float: left;
    width: 35%;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

.tab-styling {
    margin: 7px;
    padding: 7px;
    border: 1px dashed black;
}

.tab-styling:hover {
    border: 1px solid white;
    background-color: #181818;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    color: white;
}

.right-column_title {
    width: 62%;
    margin-left: 37.5%;
    margin-top: 0.8%;
    border: 1px solid black;
}

.tabTitle {
    text-align: center;
}

.chat-window_table {
    margin: 0 auto;
}

.autoInfo,
.bidInfo {
    border: 1px solid black;
    border-bottom: none;
    padding: 0px 5px 0px 5px;
    width: 50%;
}

.autoInfo-text,
.bidInfo-text {
    font-family: 'Tahoma';
}

.autoInfo-text_title,
.bidInfo-text_title {
    color: grey;
}

.chat-window {
    width: 62%;
    height: 515px;
    margin-left: 37.5%;
    margin-top: -3px;
    border: 1px solid black;
}

.message-block_example {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    width: 70%;
}

.input-calculator_form {
    margin-top: -50px;
    width: 300px;
    border: 1px solid black;
}

.calculator-body {
    width: 50%;
    margin-top: -150px;
}

input {
    width: 70px;
}

.calculator-and-chatTextarea {
    width: 62.5%;
    margin-left: 38%;
    margin-top: -20%;
}

.go {
    margin-left: 585px;
}

.resultRow input {
    width: 100px;
}

.input-form {
    margin-top: 4px;
    margin-right: 30px;
    float: right;
}

.sendMessage {
    margin-left: 160px;
    margin-top: 3px;
    padding: 5px 10px 5px 10px;
    border: 1px dotted black;
    background: transparent;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    transition: .7s;
}

.sendMessage:hover {
    background: black;
    color: white;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    transition: .7s;
}

.listBidCarcas {
    width: 90%;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    margin: 0 auto;
}

.filterTable {
    border: 1px solid #000;
    margin-bottom: 25px;
}

.row-column_responseButton {
    background-color: transparent;
    border: 1px solid #000;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.listBidCarcas-bidTable {
    margin: 0 auto;
}

.listBidCarcas-bidTable tr,
td {
    border: 1px solid #000;
}

.listBidCarcas-bidTable {
    border: 1px solid #000;
}

.listBidCarcas-bidTable_headTable {
    font-weight: bold;
}